# Virtual Environment
.venv/
venv/
ENV/
env/

# Bundled binaries & Media files
bin/
*.mp4
*.mp3
*.m4a
*.webm
*.part
*.ytdl

# Local settings and test outputs
settings.json
test_dl/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
